.leftPanel {
    border-right: 5px solid var(--blueStone);
    cursor: pointer;
    }

.labelStyle {
    font-family: "Roboto";
    font-weight: bold;
    color: var(--slate);   
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
    }

.paddingVertical {
    padding: 10px 0;
    }

    .h4, h4 {
        color: #7c795d; font-family: 'Trocchi', serif; font-weight: normal; margin: 0;padding-left: 12px; 
      }

      .h6, h6 {
        color: #7c795d; font-family: 'Trocchi', serif; font-weight: normal; margin: 0;padding-left: 12px; 
      }




.VerticalLine {
    border-left: 6px solid #A9A9A9;
    height: 200%;
    position: absolute;
    left: -35%;
    right:50%;
    margin-left: -3px;
    top: 0;
}

.gap{
    padding-left: 2%;
}



/* .leftPanel p{
    font-size: 18px;
    line-height: 20px;
} */